<div id="mainForm">
  <form>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">
    
    <label for="phone-number">Phone-number</label>
    <input type="tel" id="number" name="number" placeholder="Your number..">

    <label for="pigInfo">Breed</label>
    <input type="text" id="breed" name="lastname" placeholder="Breed..">

    <label for="time">Time</label>
    <input type="datetime-local" id="time" placeholder="Time..">

    <label for="location">Location Name</label>
    <input type="text" id="location" placeholder="Location..">

    <label for="langtitude"></label>
    <input type="number" id="location" placeholder="langtitude..">

    <label for="longtitude"></label>
    <input type="number" id="location" placeholder="longtitude..">
    
    <Button (click)="submit()">Submit</Button>
  </form>
</div>
